label {
    font-weight: 200;
}

::-webkit-scrollbar {
    width: 9px;
    background-color: transparent
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark-color);
    border-radius: 8px;
}

.setting {
    position: absolute;
    z-index: 200;
    max-height: 595px;
    width: 28rem;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    padding: 10px;
    text-align: center;
    top: 4%;
    left: 35%;
    transition: all 0.3s ease-out;
    border-radius: 10px;
    overflow-y: scroll;
}

.XMark {
    cursor: pointer;
    font-size: 19px;
    padding: auto 0;
}

.header {
    display: inline;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 9px 35px 9px;
}

.checkbox {
    cursor: pointer;
    appearance: none;
    background-color: var(--light-color);
    border-radius: 80px;
    border-style: none;
    height: 20px;
    margin: 0;
    position: relative;
    width: 30px;
}

.checkbox::after {
    background-color: var(--dark-color);
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 14px;
    transition: all 200ms ease-out;
}

.checkbox:checked::after {
    background-color: var(--text-color);
    left: 13px;
}

.checkbox:checked {
    background-color: var(--secondary-color);
}

.input {
    appearance: none;
    background-color: var(--background-color);
    color: var(--text-color);
    width: 2rem;
    border: 1px solid var(--light-color);
    border-right: none;
    height: 38px;
    width: 4rem;
    border-radius: 10px 0px 0px 10px;
    text-align: center;
    font-family: "roboto-flex";
}

.input:focus {
    outline: none;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    appearance: none;
}

.inputWrapper {
    display: flex;
}

.caretWrapper {
    display: flex;
    flex-direction: column;
}

.button {
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 0px 10px 0px 0px;
    border: 1px solid var(--light-color);
}

.buttonDown {
    border-radius: 0px 0px 10px 0px;
}

@keyframes openModal {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    50% {
        opacity: 1;
        transform: translateY(90%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes closeModal {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        opacity: 0.8;
        transform: translateY(60%);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}
