.wrapper {
    width: 60%;
    height: 200px;
    margin: 2rem auto;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
}


.noPointer {
    cursor: not-allowed !important;
}

.pointer {
    cursor: pointer;
}
