body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.wrapper {
    width: 60%;
    height: 200px;
    margin: 2rem auto;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
}

.noPointer {
    cursor: not-allowed !important;
}

.pointer {
    cursor: pointer;
}

.setting {
    position: absolute;
    display: inline;
    cursor: pointer;
    font-size: 30px;
    transition: transform 0.5s ease;
}

.setting:hover {
    transform: rotate(100deg);
}
