@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "roboto-flex";
    src: url("./fonts/RobotoFlex-VariableFont_GRAD\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf");
}

#root {
    max-width: 1280px;
    margin: auto auto;
    padding: 2rem;
    text-align: center;
}

:root {
    --bg-color: #04090d;
    --text-color: #f2f9ff;
    --second-color: #000;
    --primary-color: #4cacff;
    --shadow-color: #121212;
    --shadow-length: 0px;
    --shadow-spread: 300px;
    font-family: "roboto-flex", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #121212;
    user-select: none;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    overflow: hidden;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-width: 320px;
    min-height: 100vh;
    box-shadow: inset 0px 0px var(--shadow-spread) var(--shadow-length) var(--shadow-color);
    transition: all 0.5s ease;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type="number"] {
    width: 96px;
    height: 40px;
    background-color: var(--bg-color);
    border-radius: 8px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type="checkbox"] {
    display: none;
}
